@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root{
    --main-color:#2D3250;
    --second-color:#424769;
    --third-color:#FBF9F1;
    --main-font:"Lora", serif;
}

.active {
    color: #fff;
}
.navbar{
    background-color: var(--main-color);
    padding-left: 2em !important;
    padding-right: 2em !important;
}
.navbar-brand{
    font-family: var(--main-font);
    font-weight: bold;
}

.navbar-brand span{
    letter-spacing: 5px;
}

.jumbotron {
    height: 90vh;
    margin-bottom: 0;
    font-family: var(--main-font);
    background-color: #fff!important;
}
.jumbotron .hero {
    margin-left: 2.5em;
}
.jumbotron .hero .btn {
    background-color: var(--second-color);
    color: #fff;
    width: fit-content;
}
.jumbotron h1{
    font-size: 30pt;
    font-weight: bold;
}
.jumbotron p{
    font-size: 13pt !important;
    font-weight: 600;
}

.jumbotron h1,
.jumbotron p{
    margin-top: 1.25em;
    color: var(--main-color);
}

.informasi {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.informasi h3{
    text-align: center;
    margin-bottom: 2em;
    color: var(--second-color);
}

.informasi .list-group{
    margin-bottom: 2em;
}



footer{
    background-color: var(--main-color);
    color: #fff;
    /* margin: 2em 0 0 0; */
    padding: 1.25em;
    text-align: center;
    font-size: 12pt;
}

footer .container .card{
    background-color: var(--second-color);
    border: none;
    box-shadow: 2px 2px rgba(0,0,0,.2);
    font-size: 18pt;
    font-weight: bold;
}


/* responsive mode */

@media screen and (max-width: 767px) {
    .jumbotron {
        height: fit-content;
    }
    .jumbotron .hero {
        margin-left: 0;
    }
    .jumbotron .hero a {
        margin-right: auto;
        margin-left: auto;
    }
    .jumbotron h1.display-4{
        font-size: 25pt;
        text-align: center;
    }
    .jumbotron p.lead{
       font-size: 15pt; /* Tambahkan z-index agar elemen teks muncul di atas overlay */
        text-align: justify;
    }
    .jumbotron .col-md-2{
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
    }
    .jumbotron img{
        display: none;
    }
}